{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
{% endblock %}

{% block title %} Homepage {% endblock %}

{% block content %}

<h1>Homepage</h1>

<img src="{% static 'blog/img/django.png' %}" alt="" width="100">

{% endblock %}


<!-- ! yaptıktan sonra Enter'a basarak html dosyası içerisinde hazır bir 
html iskeleti oluşturmuş oluruz. -->

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Blogs</a></li>
    </ul>
    <h1>Homepage</h1>
</body>
</html> -->


<!-- Ana klasörde oluşturduğumuz TEMPLATES klasörü sayesinde
 tüm HTML dosyalarında aynı olan kısımları tekrar tekrar yazmamıza
 gerek kalmadı artık. Çünkü aynı kısımları orada tanımladık. Farklı
 kısımları ise burada. Yani artık yukarıdaki gibi kod yazmak yerine
 aşağıdaki gibi kod yazabiliriz.  -->

 <!--  
Uygulama seviyesindeki statik klasörleri için.
<img src="{% static 'blog/img/django.png' %}" alt="" width="100">

Alttaki ise proje seviyesindeki statik klasörleri için.
<img src="{% static 'img/django.png' %}" alt="" width="100">
-->
