{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  
    Uygulama seviyesindeki statik klasörleri için.
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">

    Alttaki ise proje seviyesindeki statik klasörleri için.
    -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Title demek Chrome'da üst kısımda gözüken başlık kısmıdır. -->
    <title>
        {% block title %} {% endblock %} | Blogapp
    </title>
</head>
<body>
    <ul>
        <li><a href="">Homepage</a></li>
        <li><a href="">Blogs</a></li>
    </ul>
    <!-- content yerine içerik de yazabiliriz yani bu aslında bir değişken ismidir. -->
    {% block content %}
    {% endblock %}
</body>
</html>
